body{
display: flex;
justify-content: center;
align-items: center;
}
.bloco{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01em solid black;
    border-radius: 360em;
}